button {
    display: block;
    margin: 28px auto;
    width: 32%;
    padding: 14px;
    font-size: 1.438rem;
}

nav {
    width: 50%;
    max-width: 300px;
    height: 50px;
  }
  
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
  }

  nav > ul > li {
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
  }
  
  nav > ul > li:hover {
    background-color: #dfdfe2;
    color: #1b1b32;
    cursor: pointer;
  }
  
  li > a {
    color: inherit;
    text-decoration: none;
  }

  tr {
    font-size: 1.438rem;
  }

  table {
    background-color:#E0CBA8;
  }

  #guitar {
    width: 400px;
    height: 300px;
  }

  #saint {
    width: 400px;
    height: 300px;
  }

  #Headshot {
    width:fit-content;
    height:fit-content;
  }
  div.a {
    text-align: right;
  }

  @media only screen and (max-width: 600px{
    #filmrank {
      width: 100%;
    }
  }